# CHIANTI

Import the `ChiantiReader` class.

In [1]:
from carsus.io.chianti_ import ChiantiReader

 ChiantiPy version 0.8.4
 found PyQt5 widgets
 using PyQt5 widgets

In [2]:
chianti_reader = ChiantiReader('H-He', collisions=True)

In [3]:
chianti_reader.levels

                                          energy    j  label method  priority
atomic_number ion_charge level_index
1             0          0                 0.000  0.5    NaN   None        10
                         1             82258.956  0.5    NaN   None        10
                         2             82258.921  0.5    NaN   None        10
                         3             82259.287  1.5    NaN   None        10
                         4             97492.224  0.5    NaN   None        10
...                                          ...  ...    ...    ...       ...
2             1          20           421353.185  2.5    NaN   None        10
                         21           421353.185  2.5    NaN   None        10
                         22           421353.247  3.5    NaN   None        10
                         23           421353.247  3.5    NaN   None        10
                         24           421353.284  4.5    NaN   None        10

[99 rows x 5 columns]

In [4]:
chianti_reader.lines

                                                             energy_upper  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                         None
                                           2                         None
                                           3                         None
                                           5                         None
                                           6                         None
...                                                                   ...
2             1          13                18                        None
                                           21                        None
                                           22                        None
                         14                23                        None
                         15                24                        None

                                                             j_upper  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                    None
                                           2                    None
                                           3                    None
                                           5                    None
                                           6                    None
...                                                              ...
2             1          13                18                   None
                                           21                   None
                                           22                   None
                         14                23                   None
                         15                24                   None

                                                             energy_lower  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                         None
                                           2                         None
                                           3                         None
                                           5                         None
                                           6                         None
...                                                                   ...
2             1          13                18                        None
                                           21                        None
                                           22                        None
                         14                23                        None
                         15                24                        None

                                                             j_lower  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                    None
                                           2                    None
                                           3                    None
                                           5                    None
                                           6                    None
...                                                              ...
2             1          13                18                   None
                                           21                   None
                                           22                   None
                         14                23                   None
                         15                24                   None

                                                              wavelength  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                    1215.673
                                           2                    1215.674
                                           3                    1215.668
                                           5                    1025.723
                                           6                    1025.722
...                                                                  ...
2             1          13                18                  10126.626
                                           21                  10126.499
                                           22                  10126.436
                         14                23                  10126.436
                         15                24                  10126.523

                                                                   gf
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                   0.0000
                                           2                   0.2780
                                           3                   0.5550
                                           5                   0.0527
                                           6                   0.1050
...                                                               ...
2             1          13                18                  0.1669
                                           21                  0.2544
                                           22                  5.0880
                         14                23                  8.0760
                         15                24                 10.4700

[320 rows x 6 columns]

In [5]:
chianti_reader.collisions

                                                                                                   temperatures  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                                        [0.0, 0.25, 0.5, 0.75, 1.0]
                                           2                                        [0.0, 0.25, 0.5, 0.75, 1.0]
                                           3                                        [0.0, 0.25, 0.5, 0.75, 1.0]
                                           4                                        [0.0, 0.25, 0.5, 0.75, 1.0]
                                           5                                        [0.0, 0.25, 0.5, 0.75, 1.0]
...                                                                                                         ...
2             1          1                 20                                       [0.0, 0.25, 0.5, 0.75, 1.0]
                                           21                                       [0.0, 0.25, 0.5, 0.75, 1.0]
                                           22                                       [0.0, 0.25, 0.5, 0.75, 1.0]
                                           23                 [0.0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0....
                                           24                 [0.0, 0.125, 0.25, 0.375, 0.5, 0.625, 0.75, 0....

                                                                                            collision_strengths  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                           [0.2117, 0.3088, 0.3327, 0.3891, 0.5751]
                                           2                            [0.1132, 0.2708, 0.5017, 0.8519, 1.478]
                                           3                              [0.2265, 0.5424, 1.005, 1.706, 2.961]
                                           4                       [0.05993, 0.07305, 0.08102, 0.09175, 0.1226]
                                           5                         [0.03146, 0.05908, 0.09826, 0.1456, 0.237]
...                                                                                                         ...
2             1          1                 20                          [0.1468, 0.1153, 0.1223, 0.1439, 0.2056]
                                           21                       [0.07747, 0.08309, 0.09658, 0.1086, 0.1121]
                                           22                          [0.1031, 0.1106, 0.1286, 0.1445, 0.1491]
                                           23                 [0.04943, 0.03406, 0.02674, 0.02347, 0.02156, ...
                                           24                 [0.06189, 0.04265, 0.03349, 0.02938, 0.02701, ...

                                                                   gf  energy  \
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                  0.00000   0.750
                                           2                  0.27720   0.750
                                           3                  0.55520   0.750
                                           4                  0.00000   0.889
                                           5                  0.05268   0.889
...                                                               ...     ...
2             1          1                 20                 0.00000   0.840
                                           21                 0.00000   0.840
                                           22                 0.00000   0.840
                                           23                 0.00000   0.840
                                           24                 0.00000   0.840

                                                              ttype  cups
atomic_number ion_charge level_index_lower level_index_upper
1             0          0                 1                      2   0.4
                                           2                      1   1.7
                                           3                      1   1.7
                                           4                      2   0.4
                                           5                      1   1.6
...                                                             ...   ...
2             1          1                 20                     2   2.0
                                           21                     2   1.9
                                           22                     2   1.9
                                           23                     2   1.9
                                           24                     2   1.9

[358 rows x 6 columns]

Dump data with method `to_hdf`.

In [6]:
chianti_reader.to_hdf('chianti.h5')

[               py.warnings][WARNING] - /home/epassaro/miniconda3/envs/carsus/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->Index(['method'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)
 (warnings.py:99)

[               py.warnings][WARNING] - /home/epassaro/miniconda3/envs/carsus/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['energy_upper', 'j_upper', 'energy_lower', 'j_lower'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)
 (warnings.py:99)

[               py.warnings][WARNING] - /home/epassaro/miniconda3/envs/carsus/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3343: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['temperatures', 'collision_strengths'], dtype='object')]

  exec(code_obj, self.user_global_ns, self.user_ns)
 (warnings.py:99)

In [7]:
# Hidden cell
!rm chianti.h5